{%extends 'accounts/main.html' %}
{% load static%}
{%block element%}

<style>
    .profile-pic{
        max-height: 200px;
        max-width: 200px;
        margin: 0 auto;
        border-radius: 50%;
    }
</style>
<div class="row">
    <div class="col-md-3">
        <div class="card card-body">
            <a class="btn btn-warning" href="{% url 'home' %} ">&#8592; Back to profile</a>
            <hr>
            <h3 style="text-align:center ;">Account Settings</h3>
            <hr>
            <img class="profile-pic" src="{{request.user.customer.profile_pic.url}} " alt="">
        </div>
    </div>
    <div class="col-md-9">
        <div class="card card-body">
            <form method="POST" action="" enctype="multipart/form-data">
                <!-- enctype='multipart/form-data is an encoding type that allows files to be sent through a POST. Quite simply, without this encoding the files cannot be sent through POST. If you want to allow a user to upload a file via a form, you must use this enctype. -->
                {% csrf_token %}
                {{form.as_p}}
                <input class="btn btn-primary" type="submit" name="Update Information">
            </form>
        </div>
    </div>
</div>

{% endblock element%}